{% extends 'base.html' %}

{% block content %}

        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Cart Summart</h1>
                    <p class="lead fw-normal text-white-50 mb-0">View Your Cart</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <div class="container">
            {% if cart_products %}
            {% for product in cart_products %}
                <br>
                <div class="card mb-3" >
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{product.image.url}}" class="img-fluid rounded-start" alt="...">
                </div>
            <div class="col-md-8">
                <div class="card-body">
                    <center>
                        <h5 class="card-title">{{ product.name}}</h5>
                        <p class="card-text justified">{{ product.description }}</p>



                        {% if product.is_sale %}
                            <div class="text-center">
                                    <h5 class="fw-bolder">Sale Item</h5>
                                    <!-- Product price-->
                                    <strike>${{ product.price }}</strike>
                                    ${{ product.sale_price }}
                                </div>
                        {% else %}
                            <div class="text-center">
                                    <!-- Product price-->
                                    ${{ product.price }}
                                <br/>
                            </div>
                        {% endif %}

                    <div class="row justify-content-center">
                        <div class="col-md-2">
                            Quantity:
                        </div>
                        <div class="col-md-2">
                            <select class="form-select form-select-sm" id="qty-cart">

                                    {% for key, value in quantities.items %}
                                        {% if key == product.id|slugify %}
                                            <option selected>{{ value }}</option>
                                        {% endif %}
                                    {% endfor %}

                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                        </div>
                    </div>


                        <br>


                        <a href="{% url 'home' %}" class="btn btn-secondary">Home</a>

                    </center>


                </div>
            </div>
        </div>
    </div>
            {% endfor %}
            {% else %}
                <br><br><br>
                There is nothing in your cart
                <br><br><br>
            {% endif %}

        </div>

{% endblock %}